@import "tailwindcss";

:root {
  --background: #e2e2e2;
  --foreground: #070707;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black: #070707;
  --color-white: #e2e2e2;
  --font-karantina: var(--font-karantina);
  --font-karla: var(--font-karla);
  --font-oswald: var(--font-oswald);
  --font-anton: var(--font-anton);

  --animate-fadeIn: fade-in 2500ms ease-in-out both;
  --animate-translateTop: translate-top 1500ms ease-in-out both;
  --animate-translateBottom: translate-bottom 1500ms ease-in-out both;
  --animate-translateLeft: translate-left 2500ms ease-in-out both;
  --animate-translateRight: translate-right 2500ms ease-in-out both;
  --animate-filter: filterAnim 3500ms ease-in-out both;

  /* === Fade In (avec légère translation) === */

  @keyframes filterAnim {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    75% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes translate-top {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }

  @keyframes translate-bottom {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes translate-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes translate-right {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #070707;
    --foreground: #ededed;
    --black: #070707;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar while still allowing scrolling */
html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer & Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

canvas + div::-webkit-scrollbar {
  display: none;
}

/* Sur le conteneur vidéo (et ses enfants) */
.video-pane,
.video-pane * {
  -webkit-tap-highlight-color: transparent;
}

/* Évite aussi la sélection visuelle pendant le drag */
.video-pane {
  user-select: none;
  -webkit-user-select: none;
}

.page-transition {
  animation: moveAnimation 2.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes moveAnimation {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.underpage-transition {
  animation: underPageTransition 2.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes underPageTransition {
  0% {
    transform: translateY(100%);
  }
  25% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes filterAnim {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
